/* CSS для кнопок управления плеером */
.audio-track {
    width: 330px;
    height: 5px;
    background-color: #dddddd;
    margin: 20px 0px;
}
 
.time {
    width: 0;
    height: 5px;
    background-color:dodgerblue ;
    
    
}

#player-container {
    width: 21em;
/* min-width: none;
max-width: 100%; */
background-color:lightskyblue;
padding: 10px;
border-radius: 5px;

}

.buttonControls {
    cursor: pointer;
    width: 165px;
    border: 0px;
    height: 30px;
    border-radius: 5px;
    margin-top: 1em;
}

#inputSearch {
    width: 268px;
    height: 26px;
    border-radius: 5px;
    margin-left: 5px;
}

#submit {
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 0px;
}

body {
    font-family: "PT Sans", "Arial", sans-serif;
  }

.ulTreckList   {
   color: rgb(19, 140, 216); 
   margin-left: -20px;
}

#volume {
    width: 20em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #474747

}



